<%- include("includes/head",{pageTitle:"Error!"}) %>
</head>
    <body>
        <%- include("includes/header") %>
        <main>
            <h1>NOT AUTHENTICATED!</h1>
            <p>You are not authenticated and thus can't acces this resource!</p>
            <p><a class="btn" href="/" >Back to Home</a></p>
        </main>
    </body>
</html>
