<%- include("../../shared/includes/head",{pageTitle:"Inventory"}) %>
<link rel="stylesheet" href="/styles/products.css">
<link rel="stylesheet" href="/styles/inventory.css">
</head>
    <body>
        <%- include("../../shared/includes/header") %>
        <main>
            <h1>Inventory</h1>
            <%- include("../../shared/includes/inventory/credit-balance",{total:false}) %>
            <section>
                <ul id="products-grid">
                    <% for (const inventoryItem of inventory.items) { %>
                        <li>
                            <%- include("../../shared/includes/inventory/inventory-item",{inventoryItem:inventoryItem}) %>
                        </li>
                    <% } %>
                </ul>
            </section>
        </main>
    </body>
</html>
