<header id="main-header">
  <div id="logo"><a href="/">indieHaven</a></div>
  <nav>
    <%-include("navigation-items")%>
  </nav>
  <button id="burger-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="mobile-menu">
  <nav>
    <%-include("navigation-items")%>
  </nav>
</aside>