<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>

<link rel="stylesheet" href="/styles/base.css">
<!-- not adding a closing head tag so I could add more content dependant on the page requirements. -->