form{
    text-align: center;
    max-width: 25rem;
    margin: var(--space-8) auto;
    padding: var(--space-4);
    background-color: var(--color-purple-500);
    border-radius: var(--border-radius-medium);
    
  }