@font-face {
  font-family: "manaspaceregular";
  src: url("./fonts/manaSpace/manaspace.regular-webfont.woff2") format("woff2"),
    url("./fonts/manaSpace/manaspace.regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  font-family: "manaspaceregular";
  --color-purple-700: #281c2d;
  --color-purple-600: #432e4c;
  --color-purple-550: #60466b;
  --color-purple-500: #8155ba;
  --color-purple-400: #695e93;
  --color-purple-200: #beafc2;
  --color-purple-100: #d8cddb;

  --color-plum-700: #400e32;
  --color-plum-600: #812767;
  --color-plum-500: #a61f69;
  --color-gold-500: #efa447;
  --color-gold-300: #f2cd5c;
  --color-gold-100: #fee59c;

  --color-error-100: rgb(255, 200, 200);
  --color-error-500: rgb(200, 15, 15);

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--color-purple-700);
  color: var(--color-gold-300);
  margin: 0;
}
main {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}
h1{
  text-align: center;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: var(--color-gold-300);
  text-decoration: none;
  border-radius: var(--border-radius-small);
}
a:hover {
  color: var(--color-gold-500);
  background-color: var(--color-purple-550);
}
.btn {
  font-family: "manaspaceregular";
  cursor: pointer;
  background-color: var(--color-purple-700);
  color: var(--color-gold-500);
  padding: var(--space-2) var(--space-6);
  border-radius: var(--border-radius-small);
  border: 1px solid var(--color-purple-500);
}
.btn:hover {
  background-color: var(--color-purple-600);
  color: var(--color-gold-300);
}
.btn-alt {
  background-color: var(--color-plum-700);
}
.btn-alt:hover,
.btn-alt:active {
  background-color: var(--color-plum-600);
}

.alert-error {
  background-color: var(--color-error-100);
  color: var(--color-error-500);
  border-radius: var(--border-radius-small);
  padding: var(--space-4);
  text-align: center;
}
.alert-error h2 {
  font-size: 1.25rem;
  margin: var(--space-2) 0;
  text-transform: uppercase;
}
.alert-error p {
  margin: var(--space-2) 0;
}

.badge{
  position: relative;
  bottom: 0.20rem;
  right: var(--space-2);
  padding: 0.2rem var(--space-4);
  border-radius: 50rem;
  background-color: var(--color-plum-600);
  color:var(--color-gold-300);
  font-size: 0.75rem;

}
