.cart-item {
  background-color: var(--color-purple-550);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: var(--space-4) 0;
  padding: var(--space-4);
  height: auto;
  border-radius: var(--border-radius-medium);
  gap: var(--space-4);
}
.cart-item input {
  font: inherit;
  background-color: var(--color-purple-200);
  padding: var(--space-2);
  border-style: none;
  width: 20%;
  text-align: center;
  border-radius: var(--border-radius-small);
}
.cart-item input:focus {
  outline-style: none;
  background-color: var(--color-purple-100);
}
.cart-item .btn {
  width: 40%;
}
.cart-item .cart-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-purple-500);
  text-align: center;
  padding: 0 var(--space-2);
  min-width: 17.1875rem;
  min-height: 17.1875rem;
  border-radius: var(--border-radius-medium);
}
.cart-item img {
  min-width: 7.5rem;
  min-height: 7.5rem;
  max-height: 10rem;
  max-width: 10rem;
}
.cart-item h2 {
  font-size: 1rem;
}
.cart-item-management {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  gap: var(--space-4);
}
.cart-item-management p {
  line-height: 1.5rem;
}
.cart-item-management label {
  font-size: 0.75rem;
}
#cart-total{
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--space-6);
}
#cart-total span {
  text-align: center;
}
#cart-total button {
  font-size: inherit;
}

#cart-total #cart-total-noAuth{
  font-size: 1rem;
}
#cart-total-balance hr{
  height: 1px;
  background-color: var(--color-purple-400);
  border: none;
  width: 100%;
}
@media (min-width: 48rem) {
  .cart-item {
    flex-direction: row;
    justify-content: space-between;
  }
  .cart-item .cart-item-info {
    width: 40%;
  }
  .cart-item-management {
    width: 60%;
  }
  .cart-item-management p {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .cart-item-management p span {
    font-size: 1.5rem;
  }
  .cart-item-management div {
    width: 100%;
  }
  .cart-item-management label {
    font-size: 1rem;
  }
  #cart-total {
    flex-direction: row;
    font-size: 1.25rem;
  }
  #cart-total span{
    font-size: 1.5rem;
  }
}

