input,
textarea {
  font: inherit;
  background-color: var(--color-purple-200);
  padding: var(--space-2);
  border-style: none;
  width: 90%;
  text-align: center;
  border-radius: var(--border-radius-small);
}
input:focus {
  outline-style: none;
  background-color: var(--color-purple-100);
}
input[type="password"] {
  font-family: initial;
}
input.bg-transparent {
  background-color: transparent;
}
.default-text-form input,
.default-text-form textarea {
  text-align: left;
}

#form-switch a {
  color: var(--color-gold-500);
}
#form-switch a:hover {
  color: var(--color-gold-300);
}
h1 {
  text-align: center;
}
form hr {
  height: 1px;
  background-color: var(--color-gold-300);
  border: none;
  width: 90%;
}

label {
  color: var(--color-gold-300);
  margin-bottom: var(--space-2);
  display: block;
}
#image-upload-control{
  display: flex;

}
#image-upload-control input{
  max-width: 20rem;
}
#image-upload-control img{
  width: 5rem;
  height: 5rem;
  object-fit: scale-down;
  display:none;
}
