.credit-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-4);
  font-size: 1.25rem;
}

.credit-balance {
  font-size: 1.5rem;
}

.spacer{
    width:11.98375rem;
    height: 1rem;
    display: block;
}


@media (min-width: 48rem) {
    .credit-info {
        flex-direction: row;
    }
}
