<%- include("../../shared/includes/head",{pageTitle:"All Products"}) %>
<link rel="stylesheet" href="/styles/products.css">
<link rel="stylesheet" href="/styles/footer.css">
</head>
    <body>
        <%- include("../../shared/includes/header") %>
        <main>
            <h1>Products</h1>
            <section>
                <ul id="products-grid">
                    <% for (const product of products) { %>
                        <li>
                            <%- include("../../shared/includes/products/product-item",{product:product}) %>
                        </li>
                    <% } %>
                </ul>
            </section>
        </main>
        <%- include("../../shared/includes/footer") %>
    </body>
</html>
