<%- include("../../shared/includes/head",{pageTitle:"All Products"}) %>
</head>
    <body>
        <%- include("../../shared/includes/header") %>
        <main>
            <h1>Products</h1>
            <p>A list of products...</p>
        </main>
    </body>
</html>
