<article class="product-item">
  <img
    src="<%= inventoryItem.product.imageURL %>"
    alt="<%= inventoryItem.product.title %>"
  />
  <div class="product-item-content">
    <h2><%= inventoryItem.product.title %></h2>
    <div class="product-item-actions">
      <p>Quantity: <%= inventoryItem.quantity %></p>
    </div>
  </div>
</article>
