<%- include("../../shared/includes/head",{pageTitle:"Shopping Cart"}) %>
<link rel="stylesheet" href="/styles/cart.css">
</head>
    <body>
        <%- include("../../shared/includes/header") %>
        <main>
            <h1>Your Cart</h1>
            <ul id="cart-items">
                <% for(const cartItem of locals.cart.items ){ %>
                <li>
                    <%- include("includes/cart-item",{cartItem : cartItem}) %>
                </li>
                <% } %>
            </ul>
            <div id="cart-total">
             <p>Total:<%= locals.cart.totalPrice %> Credits </p>   
            </div>

        </main>
    </body>
</html>
