    <%- include("../../shared/includes/head",{pageTitle:"Signup"}) %>
<!-- adding page specific styles below: -->
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>
    <body>
        <%- include("../../shared/includes/header") %>
        <main>
            <h1>Create New Account</h1>
            <form action="/signup" method="post">    
                <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">          
                    <p>
                        <label for="email">E-Mail</label>
                        <input type="email" id="email" name="email" required>
                    </p>
                    <p>
                        <label for="email-confirm">Confirm E-Mail</label>
                        <input type="email" id="email-confirm" name="email-confirm" required>
                    </p>
                    <p>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" minlength="6" required>
                    </p>
                    <hr>
                    <p>
                        <label for="fullname">Full Name</label>
                        <input type="text" id="fullname" name="fullname" required>
                    </p>
                    <p >
                        <label for="city">City</label>
                        <input type="text" id="city" name="city" required>
                    </p>
                    <p >
                        <label for="street">Street</label>
                        <input type="text" id="street" name="street" required>
                    </p>
                    <p>
                        <label for="postal">Postal Code</label>
                        <input type="text" id="postal" name="postal" required>
                    </p>
                <button class="btn">Create Account</button>
                <p id="form-switch"><a href="/login">Login instead</a></p>
            </form>
        </main>
    </body>
</html>
